body {
  padding: o;
  margin: 0;
  display: flex;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 9;
}

header {
  background-color: green;
  flex: 1;
}

nav {
  background-color: purple;
  flex: 1;
}
section {
  background-color: burlywood;
  flex: 7;
}

footer {
  background-color: blue;
  flex: 1;
}
